.alert-container {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 350px;
    height: 100px;
    display: flex;
    padding: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #f4f4f4;
    opacity: 0;
    animation: alert 1.5s forwards;
    z-index: 2;
}
.success {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(162, 236, 152, 0.6));
}
.error {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgb(233, 62, 36));
}

@keyframes alert {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}